.header {
  padding: 0.5rem;
  border-bottom: 2px solid var(--primary);
  display: flex;
  align-items: center;
}

.title {
  font-size: 2.5rem;
  font-weight: 300;
}

.logButton {
  background-color: var(--background);
  color: var(--text);
  cursor: pointer;
  text-decoration: none;
  margin-left: auto;
  margin-right: 2rem;
}
