.lotForm {
  display: flex;
  gap: 1rem;
}

.lotForm input {
  width: 7rem;
  background-color: var(--background);
  color: var(--text);
  border: 1px solid var(--primary);
  padding: 0.125rem;
}

.lotForm button {
  background-color: var(--background);
  color: var(--text);
  border: 1px solid var(--primary);
  padding: 0.25rem;
}

.lotForm button:hover {
  cursor: pointer;
}
