.lotForm {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  width: 100%;
  margin-left: 1rem;
  gap: 1rem;
}

.lotForm input {
  padding: 0.25rem;
  width: 8rem;
  background-color: var(--background);
  color: var(--text);
  border: 1px solid var(--primary);
}

.lotForm button {
  padding: 0.25rem;
  width: 5rem;
  background-color: var(--background);
  color: var(--text);
  border: 1px solid var(--primary);
}
