.positionsTable {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  max-width: min(700px, 90%);
  margin: 1rem;
  border: 1px solid var(--primary);
}

.cell {
  text-align: center;
  border: 1px solid var(--primary);
}
