.positionsTable {
  display: flex;
  flex-direction: column;
  max-width: min(700px, 90%);
  margin: 1rem;
  border: 1px solid var(--primary);
}

.row {
  display: grid;
  grid-template-columns: repeat(6, 1fr) 0.25fr;
  border: 1px solid var(--primary);
  overflow: hidden;
  height: 1.5rem;
  transition: height 0.5s ease;
}

.newLotRow {
  height: 3rem;
}

.row.expanded .cell {
  border-bottom: 1px solid var(--primary);
}

.cell {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1.5rem;
}

.menuButton {
  background-color: var(--background);
}

.menuButton:hover {
  cursor: pointer;
}

.top {
  display: flex;
  align-self: flex-start;
}

.row.expanded .lotsView {
}

.lotsView {
  grid-column: 1 / span 7;
}
